.footer {
    padding: 28px;
    padding-bottom: 16px;
    background: #111;
    color: #fff;
}

.footer_title{
    line-height: 1.5rem;
    font-size: 0.68rem;
}

.footer_content{
    display: flex;
    
}

.footer_content span{
    color: #757575;
    font-size: 0.7rem;
    line-height: 1.5rem;
}


@media only screen and (max-width: 768px) {

   .footer_col{
    border-bottom: 1px solid #757575;;
   }

   .footer_content{
    display: none;
   }
}