.home_container{
    padding: 0px 40px;
}

.home_tagline{
    text-align: center;
}

.home_img img{
    width: 100%;
        height: 100%;
        
        object-fit: cover;
        transition: opacity .5s ease .3s;
       
        will-change: opacity;
}


.home_tagline .subtitle{
    margin-top: 2rem;
    line-height: 1rem;
}

.home_tagline h3{
    font-size: 72px;
    line-height: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.shop_button button{
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
        
    justify-content: center;
        
    align-items: center;
    background: #111;
    color: #fff;
    
}

.shop_button button:hover{
    background: #6d6b6b;
}

.sale_tagline span{
    font-size: 1.38rem;
    font-weight: 400;
}

.slider_button button{
     
       
        height: 48px;
        width: 48px;
        border-radius: 24px;
        background-color: #e5e5e5;
        border: none;
    transition: background-color 250ms cubic-bezier(.25, .1, .25, 1);
}



@media only screen and (max-width: 768px) {
   

    .home_container {
        padding: 0 16px;
    }

        .sale_tagline span {
            font-size: 1.2rem;
            font-weight: 400;
        }
}