.img_head img{
    width: 100%;
    height: auto;
    padding: 1rem 0px;
    
}

.img_wrap {
    position: relative;
}

.text-on-img{
    position: absolute;
    right: 50%;
    left: 10%;
    bottom: 14%;
}


.text-on-img button{
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: .375rem 1.2rem;
    border-radius: 9999px;
}


.text-on-img button:hover {
   
    background-color: #b9b7b7;


}



