.product_item a{
    text-decoration: none;
}

.image_wrapper{
    padding:  1rem 0;
}

.product_content div p{
    color: #757575;
    font-size: 1rem;
    line-height: 24px;
}

.body-2{
    font-size: 1rem;
    line-height: 24px;
    color: #111;
    font-weight: 400;
}