@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

body {
  font-size: inherit;
    line-height: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  font-size: 16px;
  line-height: 1.75;
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
